$main-color-dark: #314659;
$main-background-white: #ffffff;
$main-border-radius: 4px;
$main-icon-color-light: rgba(0, 0, 0, 0.45);
$main-font-color-dark: $main-color-dark;

$border-color-hover: #666;
$border-color: #999;
$border-color-toast: #333;

$cascader-border-color: #e8e8e8;
$cascader-border-radius: $main-border-radius;
$cascader-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
$cascader-label-selected-background-color: #f5f5f5;

$input-border-color: #d9d9d9;

$grey: #ddd;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, .5);
$button-active-background: #eeeeee;
$disabled-background-color: #f5f7fa;
$button-background: #ffffff;
$button-height: 32px;
$color: #999;
$error-border-color: #f1453d;
$error-color: #f1453d;
$font-size: 14px;
$height: 32px;
$tab-height: 40px;
$blue: #409EFF;

/*
* Animation
*/
// spin
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}