$border-color-hover: #666;
$border-color: #999;
$border-color-toast: #333;
$grey: #ddd;
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, .5);
$button-active-background: #eeeeee;
$button-background: #ffffff;
$button-height: 32px;
$color: #999;
$error-border-color: #f1453d;
$error-color: #f1453d;
$font-size: 14px;
$height: 32px;
$tab-height: 40px;
$blue: blue;